.light {
  background-color: #ffffff;
  color: #1a2450;
}

.dark {
  background-color: #101832;
  color: #f0f0f0;
}

.about-container {
  display: flex;
  justify-content: center;
  padding: 100px;
  border-radius: 16px;
}

.about-card {
  width: 100%;
  max-width: 1200px;
  box-shadow: -20px 0 10px rgba(26, 36, 80, 0.147),
    20px 0 20px rgba(26, 36, 80, 0.118);
  background-color: inherit;
  color: inherit;
}

.about-content {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.about-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.about-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 18px;
  font-style: italic;
  color: inherit;
}

.container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  text-align: center;
  padding: 40px;
}

.container-2 h1 {
  font-size: 48px;
  color: inherit;
  margin-bottom: -7px;
  font-weight: 700;
}

.container-2 p {
  font-size: 20px;
  color: inherit;
  font-weight: 400;
  margin-top: 0;
  padding: 10px;
}

.custom-small-card {
  background-color: #e6f2ff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 17px;
  padding: 16px;
  width: 260px;
  height: 160px;
  text-align: center;
  font-weight: 500;
  color: #1a2450;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dark .custom-small-card {
  background-color: #324ab2;
  color: #e6e6e6;
}

.custom-small-card:hover {
  background-color: #468ad8;
  box-shadow: 0 6px 20px rgba(0, 102, 204, 0.636);
}

.card-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  object-fit: contain;
}

.custom-small-card p {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.card-row {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 90px;
}

.about-container-2 {
  max-width: 900px;
  margin: 40px auto;
  padding: 60px;
}

.about-card-2 {
  padding: 50px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  box-shadow: -20px 0 10px rgba(26, 36, 80, 0.147),
    20px 0 20px rgba(26, 36, 80, 0.118);
  background-color: inherit;
  color: inherit;
}

.about-content-2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text-block {
  flex: 1;
}

.text-block h1 {
  color: inherit;
}

.text-block p {
  font-size: 16px;
  font-weight: 400;
}

.about-image-2 {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
}
