.leftPanel-container {
  width: 250px;
  height: 95vh;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  position: relative;
  border-radius: 20px;
}

.home-icon{
  width: 32px;
  height: 32px;
  margin: 10px 0 0 10px;
}

.leftPanel-content {
  display: flex;
  justify-content: center;
}

.doctor-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-info-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.doctor-info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.doctor-info-text span:first-child {
  color: black;
  font-size: 18px;
}

.doctor-info-text span:last-child {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  height: calc(100vh - 45vh);
  justify-content: space-between;
}

.sidebar-top .nav-button {
  width: 200px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: black;
  padding: 12px 15px;
  margin-bottom: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.sidebar-top .nav-button:hover {
  background-color: #1677ff;
  color: white;
}

.sidebar-top .nav-button.active {
  background-color: #1677ff;
  color: white;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.sidebar-bottom .nav-button-logout {
  width: 200px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  color: black;
  padding: 12px 15px;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-bottom .nav-button-logout:hover {
  background-color: #1677ff;
  color: white;
}

.sidebar img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.sidebar-top .nav-button:hover .nav-icon-appointment {
  content: url(../../Icons/appointmentWhite.png);
}

.sidebar-top .nav-button.active .nav-icon-appointment {
  content: url(../../Icons/appointmentWhite.png);
}

.sidebar-top .nav-button:hover .nav-icon-calendar {
  content: url(../../Icons/calendarWhite.png);
}

.sidebar-top .nav-button.active .nav-icon-calendar {
  content: url(../../Icons/calendarWhite.png);
}

.sidebar-top .nav-button:hover .nav-icon-sthetoscope {
  content: url(../../Icons/stethoscopeWhite.png);
}

.sidebar-top .nav-button.active .nav-icon-sthetoscope {
  content: url(../../Icons/stethoscopeWhite.png);
}

.sidebar-bottom .nav-button-logout:hover .nav-icon-logout {
  content: url(../../Icons/logoutWhite.png);
}
