.filter-bar-container{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.filter-bar-contnet{
    padding: 20px;
    display: flex;
}

.input-search-patient{
    width: 300px;
    margin-right: 10px;
}