.doctorPage-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.doctorPage-content {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100%;
}

.doctorPage-main {
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
}


@media (max-width: 768px){
  .doctorPage-content {
  display: flex;
  height: 100vh;
}

.leftPanel-container {
  transition: width 0.3s ease;
}

.doctorPage-main {
  flex-grow: 1;
  padding: 20px;
  height: 100vh;
}
}