.calendarPage-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.calendarPage-title img{
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.calendarPage-title span {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: #333;
}

.calendar-part-container{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}